body {
	margin-top:0px !important;
}
.firstdiv{
        padding-left: 1%!important;
        padding-top:20px;
    }
.designbtn {
    padding: 30px 5px;
    color:  #637D7D!important;
    background-color: #fff;
/*    box-shadow: none;*/
    border: 1px solid #76A9A9;
    font-size: 20px;
    width: 221px;
    margin-left: 1%;
}
.catcsbtn{
    padding: 5px!important;
    margin: 5px!important;
    font-size: 15px!important;
}
.designbtn:hover{color:#fff!important;}
.firstcont{
    padding-left: 1%!important;
    padding-right: 1%!important;
    padding-top: 50px;
    padding-bottom: 50px;
}
input[type="text"]{
    height: 34px!important;
    width: auto;
    border: 1px solid #76A9A9;
}
#language{

     border: 1px solid #76A9A9;
     margin-bottom: 10px;
         width: 22%;
}
#description{

     border: 1px solid #76A9A9;

}
.seconddiv {
    margin-top: 30px;
    padding-left: 1%!important;
}
.thirddiv{
        padding-left: 1%!important;
}
.seconddesignbt{
    padding: 30px 5px;
    color: #637D7D!important;
    background-color: #fff;
/*    box-shadow: none;*/

    border: 1px solid #76A9A9;
    font-size: 20px;
    width: 200px;
    margin-left: 3%;

}
.seconddesignbt:hover{
	color:#fff!important;
}

.firsth2{
    margin-bottom: 20px;
    color: #637D7D;
  
}
input[type="date"]{
    height: 34px!important;
    border: 1px solid #76A9A9;
}
.input-group-addon{
    width: auto!important;
}
.bootstrap-timepicker{
 width: 50%;
 margin-bottom: 10px;
}
.padlf10{
    padding-left: 1%!important;
    padding-right: 1%!important;
}
#finalsave{
    /* margin-left: 25%;*/
    margin-bottom: 20px;
}
#finaldelete {
      /*  margin-left: 25%; */

}
#finalset{
   /* margin-top: 60px;*/
    margin-left: 35%;
}
#finalset2{
   /* margin-left: 10%;
   margin-top: 52px;*/
}
    
.seconddesignbt12{
    margin-left: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #76A9A9;
    color: #76A9A9!important;
}
.brsd{
    /* border-right:1px solid  #76A9A9; */
}
.bootstrap-timepicker-widget table td input{
    width: 40px !important;
}
.firstdesignbt{
    padding: 30px 5px;
    color: #637D7D!important;
    background-color: #fff;
/*    box-shadow: none;*/

    border: 1px solid #76A9A9;
    font-size: 20px;
    width: 170px;
 

}
.firstdesignbt:hover{
	color: #fff!important;
}
.fistdivh3{
    padding-top: 25px;
     color: #637D7D!important;
}
#finalsave:hover a{
	text-decoration: none!important;
	color:#fff!important;
	}
#finalsave a{
    text-decoration: none;
     color: #637D7D!important;
}

