<?php

if ($show_instructions) {
    $columns = 'twocolumns';
} else {
    $columns = 'onecolumn';
}

if (!empty($CFG->loginpasswordautocomplete)) {
    $autocomplete = 'autocomplete="off"';
} else {
    $autocomplete = '';
}
if (empty($CFG->authloginviaemail)) {
    $strusername = get_string('username');
} else {
    $strusername = get_string('usernameemail');
}
?>
<div class="loginbox clearfix <?php echo $columns ?>">
	<center>
  <div class="loginpanel">
  
<?php
  if (($CFG->registerauth == 'email') || !empty($CFG->registerauth)) { ?>
      <div class="skiplinks"><a class="skip" href="signup.php"><?php print_string("tocreatenewaccount"); ?></a></div>
<?php
  } ?>
  <script>
     function redirectpage(sel){
       var url = sel.options[sel.selectedIndex].value;
       window.location = url + '/login/index.php?site=home';
         if((url=="https://dnpta.cbsi-connect.org") || (url=="https://dncd.cbsi-connect.org")){
		 window.location = url + '/login/index.php?lang=es&site=home';
		 }
         if((url=="https://cbsi-connect.org") || (url=="http://cbsi-connect.org")){
            $(function(){$("#selectbox").hide();});
         }
    }
  </script>
    <h2><?php print_string("login") ?></h2>
      <div class="subcontent loginsub">
        <?php
          if (!empty($errormsg)) {
              echo html_writer::start_tag('div', array('class' => 'loginerrors'));
              echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
              echo $OUTPUT->error_text($errormsg);
              echo html_writer::end_tag('div');
          }
        ?>
        <?php 
        $sname = $CFG->wwwroot;
        if(optional_param('site',false,PARAM_RAW)){
        ?>
        <form class="login-form" action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="login" <?php echo $autocomplete; ?> >
          <div class="loginform">
          <div class="sign-note">Log in to <?php echo $site->fullname;?></div>
            <div class="form-label"><label for="username"><?php echo($strusername) ?></label></div>
            <div class="form-input">
              <input type="text" name="username" id="username" size="15" value="<?php p($frm->username) ?>" />
            </div>
            <div class="clearer"><!-- --></div>
            <div class="form-label"><label for="password"><?php print_string("password") ?></label></div>
            <div class="form-input">
              <input type="password" name="password" id="password" size="15" value="" <?php echo $autocomplete; ?> />
            </div>
          </div>
            <div class="clearer"><!-- --></div>
              <?php if (isset($CFG->rememberusername) and $CFG->rememberusername == 2) { ?>
              <div class="rememberpass">
                  <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if ($frm->username) {echo 'checked="checked"';} ?> />
                  <label for="rememberusername"><?php print_string('rememberusername', 'admin') ?></label>
              </div>
              <?php } ?>
          <div class="clearer"><!-- --></div>
          <input type="submit" id="loginbtn" value="<?php print_string("login") ?>" />
          <div class="forgetpass"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
          <div><a href="https://cbsi-connect.org" class="switch"><?php print_string('switchacademy', 'theme_lambda'); ?></a></div>


        </form>
        <?php } ?>
        <style>
        body#page-login-index footer {
	     bottom: -261px!important;
	   }
	.homefooter {
	    padding: 0px 0px 10px 0px!important;
        width:75%;
	}
	.uniselect{
	    color:#fff;
	    margin-top:-5px;
	}
	.uniselect select{width:100%;}
	.circle-or{
	    margin: auto;
	    text-align: center;
	    background: green;
	    width: 14%;
	    color: #fff;
	    border-radius: 47%;
	    margin-bottom: 5px;
	    }
	 .loginpanel{height:470px!important;}
   	 #selectbox{margin-top: 25px;}
   	 .switch{color:#ffffff!important;}
   	 .loginerrors {background: rgba(249, 249, 249, 0.49);}
        </style>
        <?php if(empty(optional_param('site','',PARAM_RAW))){?>
        <div id="selectbox">
        <!--<div><p class="circle-or">OR</p></div>-->
        <div class="uniselect">
        <label for="selecttenant" class="sign-note"><?php echo $academy_big?></label>
         <select onchange="redirectpage(this)">
           <option value=""><?php echo $academy_small?></option>
           <option value="https://cbsi-connect.org">Open Courses</option>
          <?php
             foreach($clients as $client){
            ?>
                 <option value="<?php echo $client['site_url'] ?>">
                 <?php echo $client['name']?>
                 </option>
            <?php } ?>
          </select>
          </div></div>
        <?php } ?>
        <div class="desc">
            <?php
                echo get_string("cookiesenabled");
                echo $OUTPUT->help_icon('cookiesenabled');
            ?>
        </div>
      </div>

<?php if ($CFG->guestloginbutton and !isguestuser()) {  ?>
      <div class="subcontent guestsub">
        <div class="desc">
          <?php print_string("someallowguest") ?>
        </div>
        <form action="index.php" method="post" id="guestlogin">
          <div class="guestform">
            <input type="hidden" name="username" value="guest" />
            <input type="hidden" name="password" value="guest" />
            <input type="submit" value="<?php print_string("loginguest") ?>" />
          </div>
        </form>
      </div>
<?php } ?>
     </div>
	 <img src="<?php echo $CFG->wwwroot.'/theme/lambda/pix/loginPage_flags.png' ?>" width="320" height="60" class="flags">
	 </center>
<?php if ($show_instructions) { ?>
    <div class="signuppanel">
      <h2><?php print_string("firsttime") ?></h2>
      <div class="subcontent">
<?php     if (is_enabled_auth('none')) { // instructions override the rest for security reasons
              print_string("loginstepsnone");
          } else if ($CFG->registerauth == 'email') {
              if (!empty($CFG->auth_instructions)) {
                  echo format_text($CFG->auth_instructions);
              } else {
                  print_string("loginsteps", "", "signup.php");
              } ?>
                 <div class="signupform">
                   <form action="signup.php" method="get" id="signup">
                   <div><input type="submit" value="<?php print_string("startsignup") ?>" /></div>
                   </form>
                 </div>
<?php     } else if (!empty($CFG->registerauth)) {
              echo format_text($CFG->auth_instructions); ?>
              <div class="signupform">
                <form action="signup.php" method="get" id="signup">
                <div><input type="submit" value="<?php print_string("startsignup") ?>" /></div>
                </form>
              </div>
<?php     } else {
              echo format_text($CFG->auth_instructions);
          } ?>
      </div>
    </div>
<?php } ?>
<?php if (!empty($potentialidps)) { ?>
    <div class="subcontent potentialidps">
        <h6><?php print_string('potentialidps', 'auth'); ?></h6>
        <div class="potentialidplist">
<?php foreach ($potentialidps as $idp) {
    echo  '<div class="potentialidp"><a href="' . $idp['url']->out() . '" title="' . $idp['name'] . '">' . $OUTPUT->render($idp['icon'], $idp['name']) . $idp['name'] . '</a></div>';
} ?>
        </div>
    </div>
<?php } ?>
</div>
