/** Path: plugins block_cbsi **/
.block_msuprofile img.profilepicture { height:100px; width:100px;}
.block_msuprofile .myprofileitem.fullname {font-size:1.5em; font-weight: bold;}
.block_msuprofile .myprofileitem.edit {text-align: right;}

#block_msuprofile {
    #msu-logout:after { border: 2px dotted gray;}
}

#inst263.block_msuprofile.block a:link {
    color: #4FBAE4;
}

.slide-image img {
/* width: auto; */
max-height: 180px;
/* height: auto; */
/* max-width: 100%; */
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}

 /*#slideshow {
    position: relative;
    overflow: hidden;
    display: inline-block;
    zoom: 1; *display: inline;
    background-color: #E3E3E3;
    width: 100%;
    background: #fff;
    margin: -21px 0px 0px 0px !important;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    -webkit-border-top-right:8px;
    -webkit-border-top-left:8px;
}*/




/* - S L I D E S - */

/*#slideshow .slides {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    position: relative;
    /* box-shadow: 0 0 3px hsla(250, 40%, 30%, 0.8);
}*/
/*#slideshow .slides li {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    display: inline;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition:    opacity 0.3s ease-out;
    -o-transition:      opacity 0.3s ease-out;
    transition:         opacity 0.3s ease-out;
}
#slideshow .slides .active {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition:    opacity 0.3s ease-out;
    -o-transition:      opacity 0.3s ease-out;
    transition:         opacity 0.3s ease-out;
}

.slide-image {
  float: right;
}

.slide-image img {
  position: relative;
  left: 114%;
  width: 355px;
  height: 200px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius:8px;
}

.slide-caption {
  position: absolute;
  top: 29px;
  left: 20px;
  float: left;
}

.slide-caption p {

    padding-left: 15px;
    font-size: 16px;
}

/* - C O N T R O L S - */

#slideshow .controls {
    width: 100%;
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 316px;
    position: relative;
    z-index: 1;
    background: rgba(121, 180, 192, 0.7) !important;
    overflow: hidden;
    /* margin: 0 auto; */
}
#slideshow .controls li {
    list-style: none;
    display: block;
    float: left;
}
#slideshow .controls a {
    display: inline-block;
    zoom: 1; *display: inline;
    padding: 0 10px;

    border: solid 1px #fff;
    text-decoration: none;
    line-height: 1.7em;
    color: #4A4A4A;
    font-family: arial,san-serif;
    margin-left: 5px;
}
#slideshow.circles .controls a {
    text-indent: 100px;
    overflow: hidden;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 0;
}
#slideshow .controls a:hover {
    background-color: #bfdaff;
    color: #000;
}
#slideshow .controls .active a,
#slideshow .controls .active a:hover {
    background: #293b53;
    color: #ffffff;
}


/* - P A U S E   M E S S A G E - */

#slideshow .paused {
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: 5px;
    left: -130px;
    letter-spacing: 18px;
    position: absolute;
    color: #2a2a2a;
    width: 630px;
    line-height: 1.8em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
    display: none;
}
#slideshow:hover .paused {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 30px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

/* course manager */
.course-left {
  float: left;
  width: 66%;
}

.course-right {
  float: right;
  width: 34%;
  background-color: #e3e3e3;
  border-left: 1px solid gray;
  /*
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  */
}

.course-creator a:link > button {
  color: white;
}

.course-creator a:visited > button {
  color: white;
}

.course-creator a > button:hover {
  color: red;
  background: none;
}

.course-creator button {
  width: 100%;
  height: 75px;
  background: #D1B563;
  text-shadow: none;
  font-size: large;
  border: 1px solid #293B53;
}

.filtering div {
    float: left;
}

#filters {
    width: 69%;
}
#filters ul {
  background-color: #F5F5F5;
  padding: 10px 10px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#selected-users {
    width: 31%;
}

#selected-users ul {
    padding: 10px 10px;
    background-color: #EAEAEA;
    border-left: 1px solid gray;
    overflow: scroll;
}

 .portal-table tr, td, th {
    border: none;
}

.portal-table-td {
  border: 1 solid black;
}

.portal input[type="checkbox"] {
  display: none;
}

.portal input[type="checkbox"] + label span {
  display: inline-block;
  width:  10px;
  height: 10px;
  margin-right: 5px;
 background: #fff;
 border-left: 1px solid #000;
}

.portal input[type="checkbox"]:checked + label span {
  background: url(/blocks/cbsi/img/cbsi_checkbox_sprite.png) -12px top no-repeat;
}


 .course-creator {border-left: 1px solid rgba(0,0,0,0.1); border-right: 1px solid rgba(0,0,0,0.1);}
 .course-creator strong {margin: 25px 0px 0px 15px; display: block; font-size: 18px;}
.course-creator button { border:none; background: #67A7B5; padding:0px; margin: 5px 0 5px 5px; padding: 5px 15px; font-size: 18px; line-height: 21px;}
.course-creator a>button:hover{background: #586B99; color: #fff;}
 table.portal-table tr:nth-child(odd) {background: #ececec;}
 table.portal-table td {color: #000}

 #user-names {
  min-width: 150px;
  min-height: 100px;
 }
